{% load static %}
{% load filtros %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Resetar a senha | Central de Erros</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <!-- Importacao dos arquivos Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
    </head>
    <body class="text-center container">
        <form method="post" class="form-signin">
            {% csrf_token %}
            <h3 class="mb-3 font-weight-bold">Resetar a senha</h3>
            <div class="form-group">
                <input type="email" id="id_email" class="form-control form-control-sm" name="email" maxlength="254" required="" placeholder="e-mail">
            </div>
            <div class="form-group">
                <input class="btn btn-dark btn-block" type="submit" value="Resetar a senha">
            </div>
            <a href="{% url 'user-login' %}">Faça login em vez disso</a>
        </form>
        <!-- Importacao dos arquivos Js -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>

</html>