{% load static %}
{% load filtros %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Resetar a senha | Central de Erros</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <!-- Importacao dos arquivos Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
    </head>
    <body class="text-center container">
            <h2 class="mb-3 font-weight-bold">Senha enviada para o e-mail com sucesso!</h2>
            <p>Enviamos um link para resetar a senha na sua caixa de e-mail. Por favor, cheque sua caixa de e-mails.</p>

        <!-- Importacao dos arquivos Js -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>

</html>