{% load static %}
<html>
    <head>
        <title>Central de Erros - Luiza Labs (Acelera Dev Python Woman)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <!-- Importacao dos arquivos Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/error_list.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Bem-vindo {{ user.get_full_name }} Seu token é: HUHEUQAHEUHE</a>
        </nav>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <!-- Importacao dos arquivos Js -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>