{% load static %}
<html>
    <head>
        <title>Central de Erros - Luiza Labs (Acelera Dev Python Woman)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <!-- Importacao dos arquivos Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/error_list.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Bem-vindo {{ user.get_full_name }} Seu token é: HUHEUQAHEUHE</a>
        </nav>
        <form class="form-row" action="." method="GET" onchange="">
            <div class="row ml-1 mt-3 mx-0">
                <div class="col-md-auto form-group mb-0">
                    <select class="form-control form-control-sm" onchange="filtro1" name="environment">
                        <option value="">Todos os leveis</option>
                        <option value="production">Produção</option>
                        <option value="homologation">Homologação</option>
                        <option value="development">Dev</option></select>
            </div>
            <div class="col-md-auto form-group mb-0">
                <select class="form-control form-control-sm" id="order_by" onchange="" name="order_by">
                    <option selected="" disabled="">Ordenar por</option>
                    <option value="level">Level</option>
                    <option value="-events">Frequência</option>
                </select>
            </div>

                <div class="col-md-auto form-group mb-0">
                    <select class="form-control form-control-sm" name="search_for">
                        <option selected="" disabled="">Filtro</option>
                        <option value="level">Level</option>
                        <option value="description">Descrição</option>
                        <option value="address">Origem</option>
                    </select>
                </div>
                <div class="col-md-auto form-group mb-0">
                    <input class="form-control form-control-sm" type="text" name="search" placeholder="Digita a busca..."/>
                </div>
                <div class="col-md-auto form-group mb-0">
                    <button class="form-control form-control-sm btn btn-sm btn-secondary">Buscar</button>
                </div>
            </form>
        </div>
        <div class="row ml-1 mx-0">
            <div class="col-md-auto form-group">
                <button class="form-control form-control-sm btn btn-sm btn-success">Arquivar</button>
            </div>
            <div class="col-md-auto form-group">
                <button class="form-control form-control-sm btn btn-sm btn-danger">Apagar</button>
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <!-- Importacao dos arquivos Js -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>