{% extends "base.html" %}

{% block content %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="text-center">
                    <input type="checkbox" id="erro">
                </th>
                <th class="text-center">Level</th>
                <th class="text-center">Log</th>
                <th class="text-center">Eventos</th>
            </tr>
            {% for error in errors %}
            <tr>
                <td class="text-center">
                    <input type="checkbox" id="erro">
                </td>
                <td class="text-center">{{error.level}}</td>
                <td class="text-center">{{error.title}}<br>{{error.address}}<br>{{error.created_at}}</td>
                <td class="text-center">{{error.events}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan=4 class="text-center">Não há erros para serem listados.</td>
            </tr>
            {% endfor %}
        </thead>
        <tbody class="myErrors">
        </tbody>
    </table>
{% endblock %}