{% extends "base.html" %}

{% block content %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="text-center">
                    <input type="checkbox" id="erro">
                </th>
                <th class="text-center">Level</th>
                <th class="text-center">Log</th>
                <th class="text-center">Eventos</th>
            </tr>
        </thead>
        <tbody class="myErrors">
        </tbody>
    </table>
{% endblock %}