{% load static %}
{% load filtros %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Login | Central de Erros</title>
        
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Importacao dos arquivos Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/user_login.css' %}">
    </head>
    <body class="text-center container">
        <form method="post" class="form-signin">
            {% csrf_token %}
            <h1 class="mb-3 font-weight-bold">Login</h1>
            {% for message in messages %}
                <div class="alert alert-danger">
                {{ message }}
                </div>
            {% endfor %}
            <div class="form-group">
                <label>Email: </label>
                {{ form_login.username.errors }} {{ form_login.username|addclass:'form-control' }}
            </div>
            <div class="form-group">
                <label>Senha: </label>
                {{ form_login.password.errors }} {{ form_login.password|addclass:'form-control' }}
            </div>
            <div class="form-group">
                <input
                class="btn btn-lg btn-dark btn-block"
                type="submit"
                value="Entrar"
                />
            </div>
            <a href="{% url 'user-register' %}">Crie sua conta</a>
        </form>
        <!-- Importacao dos arquivos Js -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>

</html>